@use '../utils' as *;

.input-text {
  @include type-input;

  &__label {
    @include type-label;
    display: block;
    margin-bottom: 0.5rem;
  }

  &__field {
    width: 100%;
    height: 3rem;
    padding: 0.25rem 1.25rem;
    border: 1px solid rgba(white, 0.8);
    border-radius: rem(8);

    @media (--laptop) {
      width: 12rem;
    }

    &:hover {
      border-color: white;
    }
  }
}
