@use '../utils' as *;

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 1.75rem;

  &__title {
    @include type-title;
    margin-bottom: 4rem;
  }

  &__section {
    @media (--laptop) {
      &.-row {
        display: flex;
      }

      &.-center {
        justify-content: center;
      }
    }

    & + & {
      margin-top: 4rem;
    }
  }
}
